/*Chatbox!!!*/
.chatBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1d;
}

.chatInnerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 60%;
  width: 65%;
}

/*INfobar!!*/
.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #686868;
  border-radius: 4px 4px 0 0;
  height: 2em;
  width: 100%;
}
.infoBarRight {
  display: flex;
  justify-content: flex-end;
  background-color: #c1a6d1;

  margin-right: 5%;
}

.exit {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.infoBarLeft {
  color: #c1a6d1;
  margin-left: 5%;
}

/*Inputbar!!*/

.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  padding-left: 1%;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;

  width: 80%;
  font-size: 1.2em;
  border: none;

  border-radius: 0;
}

.sendButton {
  background: #705a83;
  padding: 5px;
  display: inline-block;
  border: none;
  width: 20%;
}
